/*
font-family: 'Mulish', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  
  --color-base-white: #FFFFFF;
  --color-base-gray-100: #F5F5F5;
  --color-base-gray-300: #8D8D99;
  --color-base-gray-500: #3D3D3D;
  --color-base-gray-900: #202024;
  --font-family-default: 'Mulish', sans-serif;
}

html, body, input {
  font-family: var(--font-family-default);
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content 1fr max-content;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

main {
  overflow-y: auto;
  background-color: var(--color-base-gray-100);
}

header, nav, nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  gap: 7.2rem;
}

nav ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
}

nav ul li {
  cursor: pointer;
}

nav ul li.active {
  color: var(--color-base-gray-900);
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--color-base-gray-100);
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  opacity: 0.5;
  font-weight: 600;
  outline: none;
}

.input-wrapper input::placeholder {
  color: var(--color-base-gray-500);
}

.input-wrapper:hover input:hover {
  background-color: #80808042;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

/* 🤳 GALERIA */

main h1 {
  font-size: 2.4rem;
  padding-top: 1.6rem;
}

.gallery {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.item {
  background-color: var(--color-base-white);
  border-radius: 0.8rem;
  overflow: hidden;
}

.item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  filter: grayscale(0.2);
  transition: all 200ms ease-out;
  display: block ;
}

.item:hover img {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(2deg);
}

.details {
  padding: 2.2rem;
  background-color: var(--color-base-white);
  z-index: 1;
  position: relative;
}

.details h2 {
  font-size: 1.8rem;
}

.tags {
  margin-top: 1.2rem;
}

.tags span {
  padding: 0.6rem;
  background-color: var(--color-base-gray-100);
  border-radius: 0.4rem;
  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer p {
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}

header {
  --startY: -100%;
  animation: move 0.2s;
}

footer {
  --startY: 100%;
  animation: move 0.2s;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
  --delay: 0.4s;
  animation: appear 0.4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

@media (max-width: 425px) {
  #app {
    height: auto;
  }

  header, nav, nav ul {
    gap: 2rem;
  }

  header input {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.2rem;
    grid-auto-flow: row;
    overflow-y: scroll;
  }
}